p {
  color: hsl(217, 12%, 63%);
  text-align: justify;
  padding-bottom: 10px;
}

h1 {
  color: hsl(0, 0%, 100%);
}

.starLogo {
  background-color: hsl(216, 15%, 25%);
  padding: 15px;
  border-radius: 50%;
}
