@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

.componentContainer {
  display: block;
  border-radius: 25px;
  background-color: hsl(215, 19%, 15%);
  height: 340px;
  width: 340px;
  margin: auto;
  padding: 35px;
}

body {
  font-family: "Overpass", sans-serif;
}

p {
  color: hsl(217, 12%, 63%);
}

h1 {
  color: hsl(0, 0%, 100%);
}

.starLogo {
  background-color: hsl(216, 15%, 25%);
  padding: 15px;
  border-radius: 50%;
}
