.descriptionParagraph {
  color: hsl(217, 12%, 63%);
  text-align: center;
  padding-bottom: 10px;
}

.resultWrapper h1 {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.resultParagraph {
  color: hsl(25, 97%, 53%);
  background-color: hsl(216, 15%, 25%);
  padding: 7px;
  border-radius: 25px;
  width: 260px;
  margin-bottom: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.resultWrapper img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 35px;
}
